@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
	--color-primary-black-600: #1a1a1a;

	--color-primary-gray-400: #222222;
	--color-primary-gray-350: #2c2c2c;
	--color-primary-gray-300: #323232;
	--color-primary-gray-200: #454545;
	--color-primary-gray-100: #8e8e8e;

	--color-primary-white-100: #f4f2fa;
	--color-primary-white-150: #cbcbcb;
	--color-primary-white-200: #a2a2a2;

	--color-primary-purple-200: #ac88f6;
	--color-primary-green-200: #b8fec0;

	--shadow-md-green: 0px 15px 30px -1px rgba(184, 254, 192, 0.5);
	--shadow-md-purple: 0px 15px 30px -1px rgba(172, 136, 246, 0.5);
}

body {
	background-color: var(--color-primary-black-600);
}

input::placeholder {
	opacity: 30%;
}
